@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #fbfbfd;
}

html ::-webkit-scrollbar {
    width: 8px;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 70px;
    background: #64deef;
  }
  html ::-webkit-scrollbar-track {
    background: #fbfbfd;
  }

#cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    gap: 5rem;

}

.cab-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
.cab-nav li {
    display: inline-block;
    margin: 0 2em;
}
  
.cab-nav li a {
    text-decoration: none;
    color: #fff;
    
}

.cab-nav li a p{
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
}
  
.cab-nav li a img {
    vertical-align: middle;
}
  
#home-page{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
#title-home-page h1{
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    margin-top: 1.2em;
}
 
#subTitle-home-page{
    font-family: 'Montserrat';
    font-size: 25px;
    font-weight: 500;
    color: #6e6e73;
    text-align: center;
    margin-top: 1em;
}

#title-homePage a{
    text-decoration: none;
}

.btn-diagnostic{
    font-family: 'Ubuntu';
    font-size: 29px;
    color: #2997ff;
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    text-decoration: none;
}

#img-home-page{
    margin-bottom: 4em;
}

#workshop-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fbfbfd;

}

#workshop-caps{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title-workshop h1{
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 700;
    color: #365274;
    margin-top: 2em;
}

#title-workshop p{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
    color: #6e6e73;
    margin-top: 1em;
    margin-bottom: 1em;
}

#localization-workshops{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

#campo-pesquisa-oficinas{
    
    position: relative !important;
    width: 100% !important;
    max-height: 454px;
    overflow-y: scroll;
    scroll-margin-left: 0.5rem;
    margin-top: 1rem;
    gap: 1rem;
    padding-right: 1rem ;
}
  

#oficinas-encontradas{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: #e6e5e5;
    width: 400px;
    height: 130px;
    border-radius: 10px;
    align-items: start;
    padding: 12px;
    gap: 8px;
    font-family: 'Oxygen';
}

.card h4{
    color: #666;
}

.card p{
    color: #9e9e9e;
    font-weight: 400;
}

.dropdown {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

label{
    gap: 6rem;
    font-family: 'Poppins', sans-serif;
    padding: 4rem;
}

.dropdown-choice{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
   
select {
    padding: 12px;
    width: 14rem;
    border-radius: 10px;
    background-color: #ececec;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #9e9e9e;
}


#map-workshops{
    margin-top: 1.5rem;
}

#celular{
    width: 100%;
    height: 700px;
    background-color: #fbfbfd;
    margin-top: 1.5rem;
}

#app{
    font-family:'Montserrat';
    text-align: center;
    font-size: 56px;
    
}

#disponivel{
    text-align: center;
    font-family: 'Montserrat';
    font-size: 28px;
    
}

.faixa{
    background-color: #64deef;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9.5rem;
}

#iphone{
    width: 250px;
    height: 515px;
}

#download{
    width: 240px;
    
}

#diagnostico{
    font-family: 'Montserrat';
    color: #ffffff;
    font-size: 25px;
    text-align: center;
    margin-left: 0.5rem;
}

#rodape{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 10px;
    color: #666;
    background-color: #fbfbfd;
}

#barra-nav{
    background-color: #fbfbfd;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#foot-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
#foot-nav li {
    display: inline-block;
    margin: 0 1em;
}
  
#foot-nav li a {
    text-decoration: none;
    color: #666;
    
}

.foot-itens{
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 400;
    color: #cacaca;
}


#logo-footer{
    vertical-align: middle;
    width: 100px;
    height: 100px;
}
  
#foot-nav li a img {
    vertical-align: middle;
}


.menu {
    display: flex;
    list-style: none;
    gap: 0.5rem; 
}

.menu a{
    display: block;
    padding: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    color: #fff;
}

.btn-menu{
    display: none;
}

#container-btn-foot{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#btn-foot{
    background-color: #64deef;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    width: 10rem;
    height: 2rem;
    border: none;
    margin-bottom: 1.5rem;
}

#btn-foot:hover{
    background-color: #60cbda;
    transition: 0.5s;
}

@media (max-width: 768px){

    .menu{
        display: block;
        position: absolute;
        top: 2.5rem;
        left: 0;
        background: #000;
        text-align: center;
        width: 100%;
        height: 0;
        z-index: 1;
        visibility: hidden;
        overflow-y: hidden;
        transition: 0.5s;
    }

    .menu a{
        padding: 1rem 0;
        margin-inline: 1rem;
        border-bottom: 0.7rem solid rgb(0, 0, 0, 0.16);
        border-radius: 0;
    }

    .btn-menu{
        background: none;
        border: none;
        font: inherit;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-block: 1rem;
        cursor: pointer;
    }

    .hamburguer{
        border-top: 0.16rem solid #fff;
        width: 1.25rem;
    }

    .hamburguer::before,
    .hamburguer::after{
        content: " ";
        display: block;
        width: 1.25rem;
        height: 0.139rem;
        background-color: #fff;
        margin-top: 0.3125rem;
        position: relative;
        transition: 0.3s;
    }

    .cab-nav.active .menu{
        height: calc(100vh - 2.5rem);
        visibility: visible;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cab-nav.active .hamburguer{
        border-top-color: transparent;
    }

    .cab-nav.active .hamburguer::before{
        transform: rotate(135deg);
    }

    .cab-nav.active .hamburguer::after{
        transform: rotate(-135deg);
        
        top: -0.46rem;
    }

    #home-page{
        margin: 0;
    }

    #title-home-page h1{
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        text-align: center;
        margin: 1.2rem 1rem;
    }
     
    #subTitle-home-page, #iphone{
        visibility: hidden;
        display: none;
    }

    .btn-diagnostic p{
        font-size: 17px;
    }

    #image-hp{
        margin-top: 0.5rem;
        width: 400px;
    }

    #title-workshop h1{
        font-size: 18px;
    }

    #title-workshop p {
        font-size: 10px;
    }

    #localization-workshops{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fbfbfd;
         
    }

    #oficinas-encontradas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card{
        
        width: 18rem;
        height: 8.5rem;
 
    }

    #campo-pesquisa-oficinas {
        order: 2;
        padding: 0;
    }

    iframe{
        width: 18rem;
        height: 15rem;
    }


    select {
        width: 8rem;
    }

    #celular{
        height: 400px;
        
    }

    #app{
        font-size: 30px;
    }
    
    #disponivel{
        font-size: 25px;
    }

    #diagnostico{
        margin: 0;
    }
    
    .faixa{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
    }
    
    #download{
        width: 200px;
        
    }
    
    #foot-nav {
        visibility: hidden;
        display: none;
    }

    #rodape{
        font-size: 12px;
    }
}